<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Xenol</title>
</head>
<body>
    <header>
        <h1>About Xenol</h1>
        <p>Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis voluptatem maxime, quibusdam iusto neque veniam ut optio repudiandae. Eos odio, nesciunt similique quae vel harum at culpa id ea optio labore ipsam architecto dolorem? Culpa quia nisi quam eaque, facilis vero repellendus sint libero incidunt?</p>
    </header>
</body>
</html>