<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Xenol - Safety First</title>
    <link rel="stylesheet" href="../css/main.css" />
  </head>
  <body>
    <%- include('partials/header')%>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio fuga
      aliquam totam maiores reprehenderit ab est doloremque accusamus, quasi
      quis deserunt ex nostrum non adipisci repellendus veritatis id? Aperiam,
      consectetur.
    </p>
    <%-include('partials/footer')%>
  </body>
</html>
